<launch>

<arg name="record" default="false"/>
<arg name="duration" default="10"/>
<arg name="rec_name" default="turtle_record.bag"/>

<group if="$(arg record)">

    <node name="rosbag_record_turtle" pkg="rosbag" type="record"
       args="record -O $(find turtlesim_cleaner)/bag_files/$(arg rec_name) --duration=$(arg duration) --chunksize=10 /turtle1/cmd_vel /turtle1/pose" output="screen"/>

</group>


<node pkg="turtlesim" type="turtlesim_node" name="node_turtlesim_node"/>

<node pkg="turtlesim_cleaner" type="move.py" name="move" 
output="screen"/>

    


</launch>

